<div class="row">
  <div class="col-6">
    <app-donut [title]="titleOne" [labels]="labelsOne" [data]="dataOne"></app-donut>
  </div>
  <div class="col-6">
    <app-donut [title]="titleTwo" [labels]="labelsTwo" [data]="dataTwo"></app-donut>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-donut [title]="titleThree" [labels]="labelsThree" [data]="dataThree"></app-donut>
  </div>
  <div class="col-6">
    <app-donut [title]="titleFour" [labels]="labelsFour" [data]="dataFour"></app-donut>
  </div>
</div>


