<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h4>Select the theme</h4>

        <div class="r-panel-body">
          <ul class="m-t-20" id="themecolors">
            <li><b>Con el sidebar claro</b></li>
            <li><a class="selector default-theme" data-theme="default" (click)="changeTheme('default')">1</a></li>
            <li><a class="selector green-theme" data-theme="green" (click)="changeTheme('green')">2</a></li>
            <li><a class="selector red-theme" data-theme="red" (click)="changeTheme('red')">3</a></li>
            <li><a class="selector blue-theme" data-theme="blue" (click)="changeTheme('blue')">4</a></li>
            <li><a class="selector purple-theme" data-theme="purple" (click)="changeTheme('purple')">5</a></li>
            <li><a class="selector megna-theme" data-theme="megna" (click)="changeTheme('megna')">6</a></li>

            <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
            <li><a class="selector default-dark-theme" data-theme="default-dark" (click)="changeTheme('default-dark')">7</a></li>
            <li><a class="selector green-dark-theme" data-theme="green-dark" (click)="changeTheme('green-dark')">8</a></li>
            <li><a class="selector red-dark-theme" data-theme="red-dark" (click)="changeTheme('red-dark')">9</a></li>
            <li><a class="selector blue-dark-theme working" data-theme="blue-dark" (click)="changeTheme('blue-dark')">10</a></li>
            <li><a class="selector purple-dark-theme" data-theme="purple-dark" (click)="changeTheme('blue-dark')">11</a></li>
            <li><a class="selector megna-dark-theme" data-theme="megna-dark" (click)="changeTheme('megna-dark')">12</a></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</div>


